[2019-11-15 14:15] yegor256 opened #1 "skeleton"

[2019-11-15 14:53] yegor256 commented on #1
@yegor256 release, tag is `0.0.1`

[2019-11-15 19:22] yegor256 commented on #1
@rultor release, tag is `0.0.1`

[2019-11-15 19:23] rultor commented on #1
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/20880-554493886)

[2019-11-15 19:24] rultor commented on #1
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/20880-554493886) (spent 14s)

[code]

[2019-11-24 11:45] yegor256 commented on #1
@rultor release, tag is `0.0.1`

[2019-11-24 11:46] rultor commented on #1
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/20880-557880964)

[2019-11-24 11:47] rultor commented on #1
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/20880-557880964) (spent 14s)

[code]

[2019-11-24 11:49] yegor256 commented on #1
@rultor release, tag is `0.0.1`

[2019-11-24 11:51] rultor commented on #1
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/20880-557881193)

[2019-11-24 11:58] rultor commented on #1
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/20880-557881193) (spent 7min)

[code]

[2019-11-24 12:00] yegor256 commented on #1
@rultor release, tag is `0.0.1`

[2019-11-24 12:02] rultor commented on #1
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/20880-557881917)

[2019-11-24 12:13] rultor commented on #1
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/20880-557881917) (took me 11min)

[2019-11-24 13:08] #1 closed

[2020-01-14 13:25] yegor256 opened #4 "let's migrate to com.artipie.go package"

[2020-01-15 13:51] #4 closed

[2020-01-22 09:32] Sammers21 opened #6 "Migrate to asto 0.11"
Go adapter should be updated to the latest version of asto.

[2020-01-22 12:31] Sammers21 opened #7 "License header changes"
`Yegor B.` should be replaced with `artipie.com`

[2020-02-19 10:35] g4s8 commented on #6
@0crat assign @Sammers21

[2020-02-19 11:21] 0crat commented on #6
@g4s8 The job [#6](https://github.com/artipie/go-adapter/issues/6) assigned to @sammers21[/z](https://www.0crat.com/u/sammers21), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/6935e907-7ca6-49a2-b43b-73e5df1767a6); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2020-02-19 12:10] 0crat commented on #6
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-02-19 12:18] 0crat commented on #6
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-02-19 12:19] 0crat commented on #6
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @sammers21[/z](https://www.0crat.com/u/sammers21)

[2020-02-25 10:01] 0crat commented on #6
@sammers21[/z](https://www.0crat.com/u/sammers21) this job was assigned to you 6days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-03-12 09:11] g4s8 commented on #6
@0crat refuse

[2020-03-12 09:11] #6 closed

[2020-03-12 09:11] g4s8 commented on #6
@Sammers21 it's outdated

[2020-03-12 09:14] g4s8 opened #8 "Update ASTO and parent pom"
Let's update parent pom to `com.artipie:ppom:0.3` and storage to `com.artipie:asto:0.15`.

[2020-03-12 12:17] 0crat commented on #6
@g4s8 Job `gh:artipie/go-adapter#6` is not assigned, can't get performer

[2020-03-12 14:10] 0crat commented on #6
Job `gh:artipie/go-adapter#6` is not assigned, can't get performer

[2020-03-16 08:03] brastak opened #10 "Timestamp in info file is hardcoded"
https://github.com/artipie/go-adapter/blob/5817fba93eee67d31ca22d5e8d32dd14fd491f4b/src/main/java/com/artipie/goproxy/Goproxy.java#L216

Expected behavior: info file contains timestamp of an update action

[2020-03-16 08:03] 0crat commented on #10
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-03-16 08:06] brastak opened #11 "Increase parallelism of Goproxy update"
When adapter handles update it runs 4 steps sequential:
1. Process go.mod file
2. Process zip archive
3. Process info file
4. Process list file

All this steps can be run in parallel

[2020-03-16 08:06] 0crat commented on #11
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-03-16 08:18] brastak opened #12 "IT test requires installed go interpretator"
Integration tests checks installed Go software on the build machine. It looks like redundant coupling. I consider the better solution is to generalize external dependencies for all adapters with Docker and test-containers. Then the only required external software will be a Docker, and test-containers will use appropriate image for test executions.

[2020-03-16 08:18] 0crat commented on #12
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-03-16 19:59] 0crat commented on #10
The job [#10](https://github.com/artipie/go-adapter/issues/10) assigned to @brastak[/z](https://www.0crat.com/u/brastak), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/6b6cc768-b849-4677-b765-9c541c472156); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2020-03-16 22:20] 0crat commented on #12
The job [#12](https://github.com/artipie/go-adapter/issues/12) assigned to @brastak[/z](https://www.0crat.com/u/brastak), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/1fa7cc72-5371-4f65-94d1-5b1d8df114fc); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2020-03-16 23:09] 0crat commented on #11
The job [#11](https://github.com/artipie/go-adapter/issues/11) assigned to @brastak[/z](https://www.0crat.com/u/brastak), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/65a3e4d9-3dce-43f9-a9ca-2524e1841a22); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2020-03-19 09:11] brastak opened #17 "Tests should be run on JDK 1.8, 11, 13"

[2020-03-19 09:11] 0crat commented on #17
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-03-19 15:32] brastak opened #18 "GoproxyITCase:savesAndLoads test should be splited"
saveAndLoads methods checks 2 independent things:
- adapter allows upload several versions of artifact;
- go interpreter is able to work with generated metadata and uploaded binaries.

We can split this checks into 2 test methods for better visibility. These methods will not be independent, but execution order can be managed by Order annotation or w/ Nested classes (JUnit 5)

[2020-03-19 15:32] 0crat commented on #18
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-03-20 12:53] #12 closed

[2020-03-21 22:52] 0crat commented on #10
@brastak[/z](https://www.0crat.com/u/brastak) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-03-21 23:18] 0crat commented on #11
@brastak[/z](https://www.0crat.com/u/brastak) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-03-23 07:10] g4s8 commented on #8
@rultor release, tag=`0.2`

[2020-03-23 07:10] g4s8 commented on #17
@brastak can we close this?

[2020-03-23 07:10] g4s8 commented on #11
@brastak can we close this?

[2020-03-23 07:11] g4s8 commented on #18
@brastak can we close this?

[2020-03-23 07:14] rultor commented on #8
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21579-602423183)

[2020-03-23 07:30] rultor commented on #8
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/21579-602423183) (took me 15min)

[2020-03-23 08:07] #17 closed

[2020-03-23 08:07] #11 closed

[2020-03-23 08:11] brastak commented on #18
@g4s8 no, this issue was created during PR review, it is not fixed now.

[2020-03-23 11:16] 0crat commented on #18
The job [#18](https://github.com/artipie/go-adapter/issues/18) assigned to @brastak[/z](https://www.0crat.com/u/brastak), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/aeee5c62-d34a-4520-b881-e5d3383a2d97); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2020-03-23 11:16] 0crat commented on #17
Job `gh:artipie/go-adapter#17` is not assigned, can't get performer

[2020-03-23 12:11] #10 closed

[2020-03-28 12:45] 0crat commented on #18
@brastak[/z](https://www.0crat.com/u/brastak) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-03-30 10:44] g4s8 opened #20 "API for go repository"
Let's add API (`Slice` implementation from https://github.com/artipie/http) to provide HTTP API for Golang repository.
Let's start with documentation and describe how does it work, then create integration test, then implement `Slice` API.

Documentation should be added to the `README.md` file, it should describe how does go packages be downloaded and uploaded, what API methods and endpoints it can

[2020-03-30 11:13] 0crat commented on #7
The job [#7](https://github.com/artipie/go-adapter/issues/7) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/3773e3e3-ba6e-4325-9d2c-708b7ce6275a); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/polic

[2020-03-30 11:25] 0crat commented on #20
The job [#20](https://github.com/artipie/go-adapter/issues/20) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/6644c4e5-5cbd-47ca-843d-63f4e9120466); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/pol

[2020-03-30 12:00] carlosmiranda commented on #20
@0crat refuse

[2020-03-30 12:03] 0crat commented on #20
@carlosmiranda The user @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) resigned from [#20](https://github.com/artipie/go-adapter/issues/20), please stop working. Reason for job resignation: Order was cancelled

[2020-03-30 12:04] 0crat commented on #20
@carlosmiranda Job refused in 0 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2020-03-30 12:32] 0crat commented on #20
The job [#20](https://github.com/artipie/go-adapter/issues/20) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/c70d3a83-251b-4f91-a9f9-3e8ad2a70f3f); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2020-04-02 02:18] carlosmiranda commented on #7
@Sammers21 @g4s8 see PR #21 please.

[2020-04-02 06:25] g4s8 commented on #7
@carlosmiranda thanks

[2020-04-02 06:25] #7 closed

[2020-04-02 07:02] 0crat commented on #7
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-04-02 07:42] sereshqua commented on #7
@0crat quality good

[2020-04-02 08:20] 0crat commented on #18
The user @brastak[/z](https://www.0crat.com/u/brastak) resigned from [#18](https://github.com/artipie/go-adapter/issues/18), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2020-04-02 09:00] 0crat commented on #18
The job [#18](https://github.com/artipie/go-adapter/issues/18) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/c4d725cd-a099-44eb-9804-78954b9a019a); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/pol

[2020-04-02 09:02] carlosmiranda commented on #18
@0crat refuse

[2020-04-02 14:14] 0crat commented on #18
The job [#18](https://github.com/artipie/go-adapter/issues/18) assigned to @brastak[/z](https://www.0crat.com/u/brastak), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/eb11c22a-7187-44bc-8a2e-53b85798e218); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2020-04-02 14:15] 0crat commented on #18
@0crat[/z](https://www.0crat.com/u/0crat) I see that you unassigned this issue; the order is still assigned to @brastak[/z](https://www.0crat.com/u/brastak) though; to cancel the order use `refuse`, as in [§6](http://www.zerocracy.com/policy.html#6)

[2020-04-02 14:16] g4s8 commented on #18
@0crat wait

[2020-04-02 14:17] 0crat commented on #18
@carlosmiranda The job [#18](https://github.com/artipie/go-adapter/issues/18) is assigned to @brastak[/z](https://www.0crat.com/u/brastak), you cannot resign, since you are not a `PO` or `ARC`

[2020-04-04 12:42] 0crat commented on #20
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-04-08 15:55] 0crat commented on #20
@g4s8[/z](https://www.0crat.com/u/g4s8) I see that you unassigned this issue; the order is still assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) though; to cancel the order use `refuse`, as in [§6](http://www.zerocracy.com/policy.html#6)

[2020-04-08 15:57] 0crat commented on #20
The job [#20](https://github.com/artipie/go-adapter/issues/20) assigned to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/b829e863-ddea-4b9a-9e43-0cefe6f6728c); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com

[2020-04-09 15:52] olenagerasimova commented on #20
@g4s8 here is what I discovered investigating how `go get` works:
1. without go proxy protocol `go get` works only with vcs, supported vcs are Bazaar, Fossil, Git, Mercurial, SVN. How it actually resolves and searches sources is described in [this](https://golang.org/cmd/go/#hdr-Remote_import_paths) section about importing: when we do `go get` not from well known code hosting resource, smth like
[

[2020-04-09 17:40] olenagerasimova commented on #20
@g4s8 let me add some more information:
1. While using Artifactory there are [2 options](https://jfrog.com/blog/how-to-use-jfrog-artifactory-and-gocenter-together-to-build-go-apps/) to get go modules: the first one is proxy and the second one to use [JFrog CLI](https://www.jfrog.com/confluence/display/CLI/JFrog+CLI)
2. As go [module proxy protocol](https://golang.org/cmd/go/#hdr-Module_proxy_proto

[2020-04-10 07:36] g4s8 commented on #20
@olenagerasimova as I understand correctly `go get` download from git using https by default, e.g. downloading from github via `git://` protocol requires authentication, but `go get` works fine without it.

[2020-04-10 07:59] olenagerasimova commented on #20
@g4s8 to get smth from git `go get` uses git, you will not be able to install go module from git without git installed, authorisation info is stored in your git settings. Run `go get` with `-x` flag to get all the details, you can try not too long example from [this](https://nanxiao.gitbooks.io/golang-101-hacks/content/posts/go-get-command.html) article. In logs you can see that go either use git

[2020-04-13 11:30] 0pdd opened #24 "README.md:245-250: API for go repository: we are..."
The puzzle `20-d4468cf2` from #20 has to be resolved:

https://github.com/artipie/go-adapter/blob/d147e248aaa0fff1679185c671b7b49c19e048d0/README.md#L245-L250

The puzzle was created by olenagerasimova on 10-Apr-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of t

[2020-04-13 11:30] 0pdd commented on #20
@g4s8 the puzzle [#24](https://github.com/artipie/go-adapter/issues/24) is still not solved.

[2020-04-13 11:32] 0crat commented on #24
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-04-13 17:00] 0crat commented on #20
@olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-04-13 17:03] olenagerasimova commented on #20
@g4s8 please close this issue, PR #23 was merged

[2020-04-14 06:50] g4s8 commented on #20
@olenagerasimova thanks

[2020-04-14 06:50] #20 closed

[2020-04-14 07:06] 0crat commented on #24
The job [#24](https://github.com/artipie/go-adapter/issues/24) assigned to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/31a24cba-8db2-4a32-8e9d-dcded17420a2); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com

[2020-04-14 07:08] 0crat commented on #20
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-04-14 08:08] sereshqua commented on #20
@0crat quality good

[2020-04-14 16:55] olenagerasimova opened #26 "Code test coverage"
I think we need to set test code coverage, coverage reports and integrate with https://codecov.io/ as it is done in docker-adapter.

[2020-04-14 16:56] 0crat commented on #26
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-04-14 16:56] olenagerasimova commented on #26
@g4s8 could you assign me this issue please?

[2020-04-14 17:00] 0crat commented on #26
The job [#26](https://github.com/artipie/go-adapter/issues/26) assigned to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/9c88106c-2674-4c56-9a4a-114dc11f1b12); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com

[2020-04-16 10:14] 0pdd opened #28 "pom.xml:172-177: Improve code coverage by writing..."
The puzzle `26-254af14a` from #26 has to be resolved:

https://github.com/artipie/go-adapter/blob/93d9da4ddb0866fdd6626bd8ea131a0a005aa30d/pom.xml#L172-L177

The puzzle was created by @g4s8 on 16-Apr-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is

[2020-04-16 10:14] 0pdd commented on #26
@olenagerasimova the puzzle [#28](https://github.com/artipie/go-adapter/issues/28) is still not solved.

[2020-04-16 10:15] 0crat commented on #28
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-04-17 08:04] #26 closed

[2020-04-17 08:22] 0crat commented on #26
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-04-17 08:30] sereshqua commented on #26
@g4s8 we need to make sure that problem reporter and problem solver are two different persons for next tasks, thanks!

[2020-04-17 16:11] sereshqua commented on #26
@0crat quality acceptable

[2020-04-17 17:44] #24 closed

[2020-04-17 17:44] 0pdd commented on #24
The puzzle `20-d4468cf2` has disappeared from the source code, that's why I closed this issue.

[2020-04-17 17:44] 0pdd opened #30 "GoSlice.java:36-43: API for go repository: we are..."
The puzzle `24-23e70741` from #24 has to be resolved:

https://github.com/artipie/go-adapter/blob/03f216cb23c6ec25d70b3d1603de33c82e579c62/src/main/java/com/artipie/goproxy/GoSlice.java#L36-L43

The puzzle was created by olenagerasimova on 14-Apr-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the

[2020-04-17 17:44] 0pdd commented on #20
@g4s8 the puzzle [#30](https://github.com/artipie/go-adapter/issues/30) is still not solved; solved: [#24](https://github.com/artipie/go-adapter/issues/24).

[2020-04-17 17:44] 0pdd commented on #24
@0pdd the puzzle [#30](https://github.com/artipie/go-adapter/issues/30) is still not solved.

[2020-04-17 17:47] 0crat commented on #30
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-04-17 18:03] 0crat commented on #30
The job [#30](https://github.com/artipie/go-adapter/issues/30) assigned to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/c775214f-c2e3-4000-86f8-bfeb8bd7c221); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com

[2020-04-17 18:30] 0crat commented on #24
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-04-17 19:18] sereshqua commented on #24
@0crat quality good

[2020-04-21 05:29] 0pdd opened #31 "ModSlice.java:35-38: Implement ModSlice to get .mod file..."
The puzzle `20-0662588d` from #20 has to be resolved:

https://github.com/artipie/go-adapter/blob/26c8a935511e87573d9d85a5c0848c72312f6d03/src/main/java/com/artipie/http/ModSlice.java#L35-L38

The puzzle was created by @g4s8 on 21-Apr-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is

[2020-04-21 05:29] 0pdd opened #32 "ListSlice.java:35-38: Implement ListSlice to versions..."
The puzzle `20-ddebec3a` from #20 has to be resolved:

https://github.com/artipie/go-adapter/blob/26c8a935511e87573d9d85a5c0848c72312f6d03/src/main/java/com/artipie/http/ListSlice.java#L35-L38

The puzzle was created by @g4s8 on 21-Apr-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is

[2020-04-21 05:29] 0pdd opened #33 "LatestSlice.java:36-39: Implement LatestSlice to get..."
The puzzle `20-b49abdfc` from #20 has to be resolved:

https://github.com/artipie/go-adapter/blob/26c8a935511e87573d9d85a5c0848c72312f6d03/src/main/java/com/artipie/http/LatestSlice.java#L36-L39

The puzzle was created by @g4s8 on 21-Apr-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem

[2020-04-21 05:29] 0pdd opened #34 "ZipSlice.java:35-38: Implement ZipSlice to get zip..."
The puzzle `20-b2836b3a` from #20 has to be resolved:

https://github.com/artipie/go-adapter/blob/26c8a935511e87573d9d85a5c0848c72312f6d03/src/main/java/com/artipie/http/ZipSlice.java#L35-L38

The puzzle was created by @g4s8 on 21-Apr-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is

[2020-04-21 05:29] 0pdd opened #35 "InfoSlice.java:35-38: Implement InfoSlice to get info..."
The puzzle `20-41bda94c` from #20 has to be resolved:

https://github.com/artipie/go-adapter/blob/26c8a935511e87573d9d85a5c0848c72312f6d03/src/main/java/com/artipie/http/InfoSlice.java#L35-L38

The puzzle was created by @g4s8 on 21-Apr-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is

[2020-04-21 05:29] 0pdd commented on #20
@g4s8 6 puzzles [#30](https://github.com/artipie/go-adapter/issues/30), [#31](https://github.com/artipie/go-adapter/issues/31), [#32](https://github.com/artipie/go-adapter/issues/32), [#33](https://github.com/artipie/go-adapter/issues/33), [#34](https://github.com/artipie/go-adapter/issues/34), [#35](https://github.com/artipie/go-adapter/issues/35) are still not solved; solved: [#24](https://githu

[2020-04-21 05:30] 0crat commented on #35
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-04-21 05:30] 0crat commented on #34
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-04-21 05:31] 0crat commented on #33
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-04-21 05:31] 0crat commented on #32
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-04-21 05:31] 0crat commented on #31
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-04-21 05:33] 0crat commented on #34
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.9](https://github.com/zerocracy/farm): CID: [75e9b71a-bac8-4240-bf81-e9dc7a051e82](https://www.0crat.com/footprint/CT2E6TK9B/75e9b71a-bac8-4240-bf81-e9dc7a051e82), Type: "Request order start"

[2020-04-21 05:45] g4s8 commented on #34
@0crat status

[2020-04-21 05:51] 0crat commented on #34
@g4s8 This is what I know about this job in CT2E6TK9B, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#34](https://github.com/artipie/go-adapter/issues/34) is not in scope
  * Job [footprint](https://www.0crat.com/footprint/CT2E6TK9B?q=%7Bjob%3A%27gh%3Aartipie%2Fgo-adapter%2334%27%2Ctype%3A%7B%24not%3A%2F%5ENotify%2F%7D%7D) (restricted area)

[2020-04-22 05:59] #30 closed

[2020-04-22 05:59] 0pdd commented on #30
The puzzle `24-23e70741` has disappeared from the source code, that's why I closed this issue.

[2020-04-22 05:59] #34 closed

[2020-04-22 05:59] 0pdd commented on #34
The puzzle `20-b2836b3a` has disappeared from the source code, that's why I closed this issue.

[2020-04-22 05:59] 0pdd commented on #20
@g4s8 4 puzzles [#31](https://github.com/artipie/go-adapter/issues/31), [#32](https://github.com/artipie/go-adapter/issues/32), [#33](https://github.com/artipie/go-adapter/issues/33), [#35](https://github.com/artipie/go-adapter/issues/35) are still not solved; solved: [#24](https://github.com/artipie/go-adapter/issues/24), [#30](https://github.com/artipie/go-adapter/issues/30), [#34](https://githu

[2020-04-22 05:59] 0pdd commented on #24
@0pdd the only puzzle [#30](https://github.com/artipie/go-adapter/issues/30) is solved here.

[2020-04-22 06:44] olenagerasimova commented on #34
@0crat status

[2020-04-22 06:51] olenagerasimova commented on #33
@g4s8 please, assign me this one

[2020-04-22 18:52] 0crat commented on #30
@olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-04-23 05:44] olenagerasimova commented on #30
@0crat status

[2020-04-23 08:56] 0crat commented on #30
@olenagerasimova This is what I know about this job in CT2E6TK9B, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#30](https://github.com/artipie/go-adapter/issues/30) is [in scope](http://www.zerocracy.com/policy.html#14) for 6days
  * The role is `DEV`
  * The job is assigned to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) for [6days](http://www.zerocracy.com

[2020-04-23 08:57] 0crat commented on #34
@olenagerasimova This is what I know about this job in CT2E6TK9B, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#34](https://github.com/artipie/go-adapter/issues/34) is not in scope
  * Job [footprint](https://www.0crat.com/footprint/CT2E6TK9B?q=%7Bjob%3A%27gh%3Aartipie%2Fgo-adapter%2334%27%2Ctype%3A%7B%24not%3A%2F%5ENotify%2F%7D%7D) (restricted area)

[2020-04-23 08:58] olenagerasimova commented on #30
@g4s8 can you please ask 0crat to close this job?

[2020-04-23 09:00] olenagerasimova commented on #34
@g4s8 can I get my reputation point for this job, please?

[2020-04-23 09:24] g4s8 commented on #34
@0crat assign @olenagerasimova

[2020-04-23 09:24] g4s8 commented on #30
@0crat assign @olenagerasimova

[2020-04-23 09:25] 0crat commented on #34
@g4s8 Job [#34](https://github.com/artipie/go-adapter/issues/34) is closed, can't start order

[2020-04-23 09:25] 0crat commented on #30
@g4s8 Job [#30](https://github.com/artipie/go-adapter/issues/30) is closed, can't start order

[2020-04-23 11:09] #33 closed

[2020-04-23 11:09] 0pdd commented on #33
The puzzle `20-b49abdfc` has disappeared from the source code, that's why I closed this issue.

[2020-04-23 11:10] 0pdd opened #39 "LatestSlice.java:49-50: Make `latest` replacement in..."
The puzzle `33-5bb0e272` from #33 has to be resolved:

https://github.com/artipie/go-adapter/blob/b43f64e4d8ec7a223549a0b42d334c7fec962733/src/main/java/com/artipie/http/LatestSlice.java#L49-L50

The puzzle was created by olenagerasimova on 23-Apr-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when th

[2020-04-23 11:10] 0pdd commented on #20
@g4s8 4 puzzles [#31](https://github.com/artipie/go-adapter/issues/31), [#32](https://github.com/artipie/go-adapter/issues/32), [#35](https://github.com/artipie/go-adapter/issues/35), [#39](https://github.com/artipie/go-adapter/issues/39) are still not solved; solved: [#24](https://github.com/artipie/go-adapter/issues/24), [#30](https://github.com/artipie/go-adapter/issues/30), [#33](https://githu

[2020-04-23 11:10] 0pdd commented on #33
@0pdd the puzzle [#39](https://github.com/artipie/go-adapter/issues/39) is still not solved.

[2020-04-23 11:11] 0crat commented on #39
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-04-23 15:26] 0crat commented on #31
The job [#31](https://github.com/artipie/go-adapter/issues/31) assigned to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/09ec1ebc-f8c9-4c3a-98ef-30164640f1ca); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com

[2020-04-24 10:31] olenagerasimova commented on #30
@0crat status

[2020-04-24 10:32] 0crat commented on #30
@olenagerasimova This is what I know about this job in CT2E6TK9B, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#30](https://github.com/artipie/go-adapter/issues/30) is [in scope](http://www.zerocracy.com/policy.html#14) for 7days
  * The role is `DEV`
  * The job is assigned to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) for [7days](http://www.zerocracy.com

[2020-04-24 10:35] g4s8 commented on #30
@0crat out

[2020-04-24 10:53] 0crat commented on #30
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-04-24 11:01] sereshqua commented on #30
@0crat quality good

[2020-04-24 18:52] 0crat commented on #39
The job [#39](https://github.com/artipie/go-adapter/issues/39) assigned to @hdouss[/z](https://www.0crat.com/u/hdouss), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/5a1b378b-2b32-4d6c-ab71-00927e1f4183); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); i

[2020-04-27 06:34] #39 closed

[2020-04-27 06:34] 0pdd commented on #39
The puzzle `33-5bb0e272` has disappeared from the source code, that's why I closed this issue.

[2020-04-27 06:34] 0pdd commented on #20
@g4s8 3 puzzles [#31](https://github.com/artipie/go-adapter/issues/31), [#32](https://github.com/artipie/go-adapter/issues/32), [#35](https://github.com/artipie/go-adapter/issues/35) are still not solved; solved: [#24](https://github.com/artipie/go-adapter/issues/24), [#30](https://github.com/artipie/go-adapter/issues/30), [#33](https://github.com/artipie/go-adapter/issues/33), [#34](https://githu

[2020-04-27 06:34] 0pdd commented on #33
@0pdd the only puzzle [#39](https://github.com/artipie/go-adapter/issues/39) is solved here.

[2020-04-27 06:55] 0crat commented on #39
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @hdouss[/z](https://www.0crat.com/u/hdouss), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-04-27 08:40] sereshqua commented on #39
@0crat quality good

[2020-04-28 06:58] #31 closed

[2020-04-28 06:58] 0pdd commented on #31
The puzzle `20-0662588d` has disappeared from the source code, that's why I closed this issue.

[2020-04-28 06:59] #32 closed

[2020-04-28 06:59] 0pdd commented on #32
The puzzle `20-ddebec3a` has disappeared from the source code, that's why I closed this issue.

[2020-04-28 06:59] #35 closed

[2020-04-28 06:59] 0pdd commented on #35
The puzzle `20-41bda94c` has disappeared from the source code, that's why I closed this issue.

[2020-04-28 06:59] 0pdd opened #42 "GoSlice.java:44-45: Create test (not ITcase) for this..."
The puzzle `31-641481c7` from #31 has to be resolved:

https://github.com/artipie/go-adapter/blob/81778900b132322eb9f4675cd3a86dd3aaed5821/src/main/java/com/artipie/http/GoSlice.java#L44-L45

The puzzle was created by @olenagerasimova on 24-Apr-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the p

[2020-04-28 06:59] 0pdd commented on #20
@g4s8 the puzzle [#42](https://github.com/artipie/go-adapter/issues/42) is still not solved; solved: [#24](https://github.com/artipie/go-adapter/issues/24), [#30](https://github.com/artipie/go-adapter/issues/30), [#31](https://github.com/artipie/go-adapter/issues/31), [#32](https://github.com/artipie/go-adapter/issues/32), [#33](https://github.com/artipie/go-adapter/issues/33), [#34](https://githu

[2020-04-28 06:59] 0pdd commented on #31
@0pdd the puzzle [#42](https://github.com/artipie/go-adapter/issues/42) is still not solved.

[2020-04-28 07:05] 0crat commented on #42
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-04-28 07:14] g4s8 commented on #39
@rultor release, tag=`0.1`

[2020-04-28 07:16] rultor commented on #39
@0pdd @g4s8 Invalid release tag `0.1` specified. There is already a release `0.2` newer than the given release in this repository.

[2020-04-28 07:16] rultor commented on #39
@g4s8 I'm sorry, I don't understand you :( Check [this page](http://doc.rultor.com/basics.html) and try again please

[2020-04-28 07:16] g4s8 commented on #39
@rultor release, tag=`0.2.1`

[2020-04-28 07:18] rultor commented on #39
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21908-620426649)

[2020-04-28 07:18] rultor commented on #39
@0pdd @g4s8 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21908-620426649) (spent 16s)

[code]

[2020-04-28 07:19] g4s8 commented on #39
@rultor release, tag=`0.3`

[2020-04-28 07:23] rultor commented on #39
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21908-620428004)

[2020-04-28 07:26] rultor commented on #39
@0pdd @g4s8 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21908-620428004) (spent 3min)

[code]

[2020-04-28 09:53] g4s8 commented on #39
@rultor release, tag=`0.3`

[2020-04-28 09:54] rultor commented on #39
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21908-620502551)

[2020-04-28 10:02] rultor commented on #39
@0pdd @g4s8 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21908-620502551) (spent 7min)

[code]

[2020-04-28 10:14] 0crat commented on #42
The job [#42](https://github.com/artipie/go-adapter/issues/42) assigned to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/fbadc62c-ac8f-4bed-a7e1-64db5e4d6833); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com

[2020-04-28 11:20] g4s8 commented on #39
@olenagerasimova there is test failure:
[code]

[2020-04-28 15:46] 0crat commented on #31
@olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-04-29 07:13] g4s8 opened #44 "Don't upload codecov for matrix build"
Code coverages are uploaded 6 times on each build from matrix OS/JDK: [windows,ubuntu][1.8,11,13]. Let's upload it only once. See #43

[2020-04-29 07:14] 0crat commented on #44
The job [#44](https://github.com/artipie/go-adapter/issues/44) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/00d95b6a-32a9-48eb-8bed-9bfa7bc62382); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if th

[2020-04-29 11:19] g4s8 commented on #39
@rultor release, tag=`0.3`

[2020-04-29 11:21] rultor commented on #39
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21908-621138281)

[2020-04-29 11:27] rultor commented on #39
@0pdd @g4s8 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21908-621138281) (spent 6min)

[code]

[2020-04-29 12:17] g4s8 commented on #39
@rultor release, tag=`0.3`

[2020-04-29 12:18] rultor commented on #39
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21908-621165183)

[2020-04-29 12:28] rultor commented on #39
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/21908-621165183) (took me 10min)

[2020-04-29 15:58] #44 closed

[2020-04-29 16:15] 0crat commented on #44
Job was finished in 8 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-05-04 07:55] 0crat commented on #42
@olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) this job was assigned to you 6days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-05-04 07:55] 0crat commented on #31
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-05-04 07:59] sereshqua commented on #31
@0crat quality good

[2020-05-06 07:09] #42 closed

[2020-05-06 07:09] 0pdd commented on #42
The puzzle `31-641481c7` has disappeared from the source code, that's why I closed this issue.

[2020-05-06 07:09] 0pdd commented on #20
@g4s8 all 9 puzzles are solved here: [#24](https://github.com/artipie/go-adapter/issues/24), [#30](https://github.com/artipie/go-adapter/issues/30), [#31](https://github.com/artipie/go-adapter/issues/31), [#32](https://github.com/artipie/go-adapter/issues/32), [#33](https://github.com/artipie/go-adapter/issues/33), [#34](https://github.com/artipie/go-adapter/issues/34), [#35](https://github.com/ar

[2020-05-06 07:09] 0pdd commented on #31
@0pdd the only puzzle [#42](https://github.com/artipie/go-adapter/issues/42) is solved here.

[2020-05-06 07:29] 0crat commented on #42
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-05-06 07:59] sereshqua commented on #42
@0crat quality good

[2020-05-15 06:57] olenagerasimova opened #48 "Upload api"
Now there is no possibility to upload/deploy go module into artipie and `go` command line tool does not support such functionality. It seems to be a good idea to provide a way to upload go modules to artipie. On the first approach we could simply implement http `PUT` to upload files and thus provide go developers some sort of "full repository workflow".

[2020-05-15 06:57] 0crat commented on #48
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-05-18 07:13] g4s8 commented on #48
@olenagerasimova using `PUT` requests sounds good. But how users are able to build go tarballs? The common scenario for go package publishing is pushing source code to some git and the use it as a dependency. Can we process go sources on Artipie side too and create tarballs with version prefixes?

[2020-05-18 13:04] olenagerasimova commented on #48
@g4s8 I think we should investigate this question more carefully, maybe even talk to some go expert and figure out the most suitable way for developers to upload go modules/sources to Artipie.

[2020-06-15 07:09] g4s8 commented on #48
@jeffzhu503 please check this ticket, what do you think about it?

[2020-06-16 20:23] jeffzhu503 commented on #48
My initial suggestion is if we shall just make Artipie behave like a proxy for Golang and integrate with git source depot.  Something like Golang Athens project.

[2020-07-20 15:33] g4s8 commented on #48
@olenagerasimova I think we can reuse `UploadSlice` for the beginning and put some instructions how to publish source code into Artipie Go repository

[2020-09-01 12:57] Sammers21 opened #58 "Update http version to http 0.15.7"
For now, go adapter is broken because it uses an old version

[2020-09-01 13:06] #58 closed

[2020-09-01 13:08] olegmoz commented on #58
@g4s8 could you please trigger release?

[2020-09-01 13:26] 0crat commented on #58
Job `gh:artipie/go-adapter#58` is not assigned, can't get performer

[2020-09-01 13:31] g4s8 commented on #58
@rultor release, tag=`0.3.1`

[2020-09-01 13:32] rultor commented on #58
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23182-684855387)

[2020-09-01 13:41] rultor commented on #58
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/23182-684855387) (took me 8min)

[2020-09-07 12:32] olenagerasimova opened #62 "Add basic authorization support"
Let's add authorization support to go-adapter.

[2020-09-09 13:05] 0pdd opened #66 "GoSliceITCase.java:57-59: Make this test work with..."
The puzzle `62-1a71c590` from #62 has to be resolved:

https://github.com/artipie/go-adapter/blob/bcdec1188262b7ab1e8bc4a0620456fc4b2274c4/src/test/java/com/artipie/http/GoSliceITCase.java#L57-L59

The puzzle was created by @olenagerasimova on 08-Sep-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when

[2020-09-09 13:05] 0pdd commented on #62
@olenagerasimova the puzzle [#66](https://github.com/artipie/go-adapter/issues/66) is still not solved.

[2020-09-11 05:28] #62 closed

[2020-09-11 09:09] olenagerasimova commented on #62
@rultor release, tag=`0.4`

[2020-09-11 09:11] rultor commented on #62
@olenagerasimova OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23294-690973359)

[2020-09-11 09:11] rultor commented on #62
@olenagerasimova Oops, I failed. You can see the full log [here](https://www.rultor.com/t/23294-690973359) (spent 16s)

[code]

[2020-09-14 15:33] olenagerasimova commented on #62
@yegor256 could you please help me with release here by fixing `.rultor.yml`?

[2020-09-17 07:22] olegmoz commented on #62
@rultor release, tag=`0.4`

[2020-09-17 07:23] rultor commented on #62
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23294-694029215)

[2020-09-17 07:33] rultor commented on #62
@olegmoz Done! FYI, the full log is [here](https://www.rultor.com/t/23294-694029215) (took me 9min)

[2021-05-19 07:41] #8 closed

[2021-05-19 07:44] #18 closed

[2021-05-21 06:18] g4s8 opened #77 "Build is failing in master branch"
The CI system is failing in `master` branch

[2021-05-21 07:11] #77 closed

[2022-07-08 09:50] 0pdd opened #129 "pom.xml:188-262: Improve code coverage by writing..."
The puzzle `26-6ebc8899` from #26 has to be resolved:

https://github.com/artipie/go-adapter/blob/523f7bb8ece245e2b867912e290e44560e03ad49/pom.xml#L188-L262

The puzzle was created by @dgarus on 08-Jul-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle

[2022-07-08 09:50] 0pdd opened #130 "GoSliceITCase.java:38-41: Make this test work with..."
The puzzle `62-02e4a458` from #62 has to be resolved:

https://github.com/artipie/go-adapter/blob/523f7bb8ece245e2b867912e290e44560e03ad49/src/test/java/com/artipie/http/GoSliceITCase.java#L38-L41

The puzzle was created by @dgarus on 08-Jul-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the prob

[2022-07-08 09:50] 0pdd commented on #26
@olenagerasimova the puzzle [#129](https://github.com/artipie/go-adapter/issues/129) is still not solved.

[2022-07-08 09:50] 0pdd commented on #62
@olenagerasimova the puzzle [#130](https://github.com/artipie/go-adapter/issues/130) is still not solved.

[2022-07-22 03:21] #129 closed

[2022-07-22 03:21] 0pdd commented on #129
The puzzle `26-6ebc8899` has disappeared from the source code, that's why I closed this issue.

[2022-07-22 03:21] #130 closed

[2022-07-22 03:21] 0pdd commented on #130
The puzzle `62-02e4a458` has disappeared from the source code, that's why I closed this issue.

[2022-07-22 03:21] 0pdd commented on #26
@olenagerasimova the puzzle [#unknown]() is still not solved; solved: [#129](https://github.com/artipie/go-adapter/issues/129).

[2022-07-22 03:21] 0pdd commented on #62
@olenagerasimova the puzzle [#unknown]() is still not solved; solved: [#130](https://github.com/artipie/go-adapter/issues/130).